<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Vehiculo</title>
    <link rel="shortcut icon" href="/img/mobile-logo.png">
    <link rel="stylesheet" href="/css/register.css">
    <!-- BOX ICONS -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script defer src="/js/register.js"></script>
</head>

<body>

    <a href="/admin" class="return">
        <img src="/img/mobile-logo.png" alt="" />
    </a>

    <div class="formContainer">
        <form action="/admin/registrarVehiculo" method="post" enctype="multipart/form-data" id="form">
            <h2>Nueva Unidad</h2>
            <div class="item-image-container">
                <label class="custum-file-upload" for="file">
                    <div class="icon" id="default-image">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="" viewBox="0 0 24 24">
                            <g stroke-width="0" id="SVGRepo_bgCarrier"></g>
                            <g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g>
                            <g id="SVGRepo_iconCarrier">
                                <path fill=""
                                    d="M10 1C9.73478 1 9.48043 1.10536 9.29289 1.29289L3.29289 7.29289C3.10536 7.48043 3 7.73478 3 8V20C3 21.6569 4.34315 23 6 23H7C7.55228 23 8 22.5523 8 22C8 21.4477 7.55228 21 7 21H6C5.44772 21 5 20.5523 5 20V9H10C10.5523 9 11 8.55228 11 8V3H18C18.5523 3 19 3.44772 19 4V9C19 9.55228 19.4477 10 20 10C20.5523 10 21 9.55228 21 9V4C21 2.34315 19.6569 1 18 1H10ZM9 7H6.41421L9 4.41421V7ZM14 15.5C14 14.1193 15.1193 13 16.5 13C17.8807 13 19 14.1193 19 15.5V16V17H20C21.1046 17 22 17.8954 22 19C22 20.1046 21.1046 21 20 21H13C11.8954 21 11 20.1046 11 19C11 17.8954 11.8954 17 13 17H14V16V15.5ZM16.5 11C14.142 11 12.2076 12.8136 12.0156 15.122C10.2825 15.5606 9 17.1305 9 19C9 21.2091 10.7909 23 13 23H20C22.2091 23 24 21.2091 24 19C24 17.1305 22.7175 15.5606 20.9844 15.122C20.7924 12.8136 18.858 11 16.5 11Z"
                                    clip-rule="evenodd" fill-rule="evenodd"></path>
                            </g>
                        </svg>
                    </div>
                    <div class="preview-image">
                        <img id="preview">
                    </div>
                    <div class="text">
                        <span>Click para cargar imagen</span>
                    </div>
                    <input type="file" id="file" name="image">
                </label>
            </div>
            <div class="inputs">
                <label>Número Económico</label>
                <input type="text" name="eco_number" maxlength="12" placeholder="Ingresa sin guiones ni espacios"
                    required>
            </div>
            <div class="inputs">
                <label>Placa</label>
                <input type="text" name="plate" maxlength="10" placeholder="Ej. ABC-123-A" required>
            </div>
            <div class="inputs">
                <label>Numero de serie</label>
                <input type="text" name="serial_number" maxlength="17" placeholder="Ej. 1HGBH41JXMN109186" required>
            </div>
            <div class="inputs">
                <label>Numero de motor</label>
                <input type="text" name="engine_number" maxlength="30" placeholder="Ej. Hecho en México" required>
            </div>
            <div class="inputs">
                <label>Marca</label>
                <input type="text" name="brand" maxlength="50" placeholder="Ej. Chevrolet" required>
            </div>
            <div class="inputs">
                <label>Sub Marca</label>
                <input type="text" name="sub_brand" maxlength="50" placeholder="Ej. Silverado" required>
            </div>
            <div class="inputs">
                <label>Descripcion</label>
                <input type="text" name="description" maxlength="50" placeholder="Ej. Camioneta 4x4" required>
            </div>
            <div class="inputs">
                <label>Modelo</label>
                <input type="number" name="model" min="1900" max="2024" placeholder="Ej. 2024" required>
            </div>
            <div class="inputs">
                <label>Cilindros</label>
                <input type="number" name="cilinder" min="1" max="16" placeholder="Ej. 8" required>
            </div>
            <div class="inputs">
                <label>Tranmision</label>
                <select name="transmision">
                    <option value="default">Seleccione una opcion</option>
                    <option value="MANUAL">Manual</option>
                    <option value="AUTOMATICA">Automatica</option>
                </select>
            </div>
            <div class="inputs">
                <label>Propietario de la unidad</label>
                <select name="propertary" required>
                    <% propertaries.forEach(propertary=> { %>
                        <option value="<%= propertary.idPropietario %>">
                            <%= propertary.nombre_prop + ' ' + propertary.ap1_prop + ' ' + propertary.ap2_prop %>
                        </option>
                        <% }); %>
                </select>
            </div>

            <div class="inputs">
                <label>Estado Fisico</label>
                <select name="physical_state">
                    <option value="BUENO">Bueno</option>
                    <option value="REGULAR">Regular</option>
                    <option value="REGULAR">Malo</option>
                </select>
            </div>

            <div class="inputs">
                <label>Situacion</label>
                <select name="situation">
                    <option value="PROPIEDAD">Propiedad</option>
                    <option value="ARRENDADO">Arrendado</option>
                </select>
            </div>

            <button type="submit">Registrar</button>
            <div class="logo">
                <img src="/img/desktop-logo.png" />
            </div>
        </form>
    </div>
</body>

</html>