@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(rgba(246, 244, 243, 0.9),
      rgba(246, 244, 243, 0.9)),
    url(../img/background.jpg);
}

.container {
  height: calc(100vh - 120px);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
}

header {
  width: 100%;
  background-color: #ebebeb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 2px #08905c;
  padding: 0.2rem 3%;
  z-index: -1;
}

header img {
  width: 80px;
  height: 80%;
  transition: scale 0.8s ease;
}

header a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

header a:hover img {
  transform: scale(1.1);
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 120px;
  gap: 30px;
  flex: 2;
}

/* #region BOTONES */

.button-menu {
  width: 100%;
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding: 0.7em 1.7em;
  cursor: pointer;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.button-menu:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.button-menu:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button-menu:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #009087;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button-menu:hover {
  color: #ffffff;
  border: 1px solid #009087;
}

.button-menu:hover:before {
  top: -35%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button-menu:hover:after {
  top: -45%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

/* #endregion */

/* #region IMAGE SECTION */

.image-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.image-container img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
}

.item-image-container .title {
  position: absolute;
  top: 12%;
  right: 5%;
  font-size: 4em;
  color: #20232d;
  font-weight: 600;
}

.title {
  position: absolute;
  top: 0;
  right: 3%;
  font-size: 3em;
}

/* #endregion */

/* #region FORM SECTION */

form {
  display: flex;
  flex-direction: column;
}

form h2 {
  font-size: 3rem;
  color: #08905c;
  margin-bottom: 3rem;
  font-weight: 1000;
}

.inputs {
  position: relative;
  margin: 15px 0;
}

.inputs input {
  width: 80%;
  height: 50px;
  background-color: #efefef;
  border-radius: 2rem;
  border: none;
  outline: none;
  margin-top: 20px;
  padding: 0px 30px 0px 30px;
  font-size: 1rem;
}

.inputs label {
  position: absolute;
  top: -5%;
  left: 12%;
  transform: translateY(-50%);
  color: #20232d;
  font-size: 1rem;
}

/* Boton del formulario */

form button {
  padding: 17px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: #08915d;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 1.5rem;
  transition: all 0.5s ease;
  color: #fff;
  font-family: 'Nunito' sans-serif;
  font-weight: 500;
  margin-top: 5px;
}

form button:hover {
  letter-spacing: 3px;
  background-color: #0fd88b;
  color: #fff;
  box-shadow: rgb(182 254 201) 0px 7px 29px 0px;
}

form button:active {
  letter-spacing: 3px;
  background-color: #066e46;
  color: #fff;
  box-shadow: rgb(182 254 201) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

/* #endregion */

/* #region MODALS */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  /* Fondo semi-transparente */
}

.modal h2 {
  color: #08905c;
  font-size: 2em;
}

/* Estilo del contenido del modal */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 85%;
}

/* Estilo del botón de cerrar modal */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* #endregion */

.custum-file-upload {
  height: 400px;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 2px dashed #cacaca;
  background-color: rgba(255, 255, 255, 1);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 48px 35px -48px rgba(0, 0, 0, 0.1);
}

.custum-file-upload .text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .text span {
  font-weight: 400;
  color: rgba(75, 85, 99, 1);
  margin-top: -15px;
}

.custum-file-upload input {
  display: none;
}

.user-image-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview-image {
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview-image img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}


@media (max-width:768px) {

  .title {
    font-size: 3em;
  }

  .image-container {
    margin-top: 20px;
  }

  .image-container img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }

}

@media (max-width:458px) {

  .title {
    font-size: 1.7em;
  }

  .image-container img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  .menu {
    padding: 50px;
    gap: 30px;
    flex: 2;
  }

  .menu h1 {
    font-size: 1.5em;
  }

  .modal h2 {
    font-size: 1em;
  }

  .custum-file-upload {
    height: 350px;
    width: 350px;
  }

  .preview-image {
    width: 250px;
    height: 250px;
  }

}