@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

.return{
  position: absolute;
  top: 0;
  left: 2%;
}

.return img{
  width: 80px;
  height: 100%;
  transition: scale 1s ease;
}

.return:hover img{
  transform: scale(1.2);
}

.formContainer {
  width: 550px;
  padding: 50px 30px 50px 30px;
  border-radius: 1.5rem;
  background-color: white;
  text-align: center;

  -webkit-animation: slide-in-fwd-left 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-fwd-left 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 0.3s;
}

form {
  display: flex;
  flex-direction: column;
}

form h2 {
  font-size: 3rem;
  color: #08905c;
  margin-bottom: 3rem;
  font-weight: 1000;
}

.item-image-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.inputs {
  position: relative;
  margin: 15px 0;
}

.inputs input {
  width: 100%;
  height: 50px;
  background-color: #efefef;
  border-radius: 2rem;
  border: none;
  outline: none;
  margin-bottom: 15px;
  padding: 0px 30px 0px 30px;
  font-size: 1rem;
}

.inputs select {
  width: 100%;
  height: 50px;
  background-color: #efefef;
  border-radius: 2rem;
  border: none;
  outline: none;
  margin-bottom: 15px;
  padding: 0px 30px 0px 30px;
  font-size: 1rem;
}

.inputs label {
  position: absolute;
  top: -30%;
  left: 10%;
  transform: translateY(-50%);
  color: #20232d;
  font-size: 1rem;
}

/* Boton del formulario */

button {
  padding: 17px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: #08915d;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 1.5rem;
  transition: all 0.5s ease;
  color: #fff;
  font-family: "Nunito" sans-serif;
  font-weight: 500;
}

button:hover {
  letter-spacing: 3px;
  background-color: #0fd88b;
  color: #fff;
  box-shadow: rgb(182 254 201) 0px 7px 29px 0px;
}

button:active {
  letter-spacing: 3px;
  background-color: #066e46;
  color: #fff;
  box-shadow: rgb(182 254 201) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

.logo {
  display: flex;
  justify-content: center;
  margin: 60px 0px 0px 0px;
}

.logo img {
  width: 250px;
  height: 80%;
}

.custum-file-upload {
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 2px dashed #cacaca;
  background-color: rgba(255, 255, 255, 1);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 48px 35px -48px rgba(0, 0, 0, 0.1);
}

.custum-file-upload .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .icon svg {
  height: 80px;
  fill: rgba(75, 85, 99, 1);
}

.custum-file-upload .text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .text span {
  font-weight: 400;
  color: rgba(75, 85, 99, 1);
  margin-top: -25px;
}

.custum-file-upload input {
  display: none;
}

.preview-image {
  width: 260px;
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.preview-image img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: none;
}

/* #region MEDIA QUERIES*/
@media (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .formContainer {
    width: 350px;
    padding: 30px;
    margin-left: 0;
    margin-top: 40px;
  }

  .logo img {
    width: 180px;
    height: 80%;
  }

  form h2 {
    font-size: 2rem;
    color: #08905c;
  }

  button {
    font-size: 1rem;
  }
}

@media (max-width: 390px) {
  .titleBg {
    position: absolute;
    width: 100vw;
    height: 25%;
    top: 0%;
    left: 0%;
  }
}

/* #endregion */