@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quattrocento:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  min-height: 100vh;
  background: rgb(255, 255, 255);
}

/* #region HEADER */
header {
  width: 100%;
  background-color: #ebebeb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 2px #08905c;
  padding: 0.2rem 3%;
  z-index: 2;
  position: fixed;
}

.logo:hover img {
  transform: scale(1.05);
}

.cssbuttons-io-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .2em;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  padding: .5em 1.5em;
  color: white;
  background: linear-gradient(0deg, rgb(0, 150, 60), rgb(100, 250, 150));
  border: none;
  outline: none;
  border-bottom: 3px solid rgb(0, 130, 40);
  box-shadow: 0 .5em .5em -.4em rgb(0, 0, 0, .5);
  letter-spacing: 0.08em;
  border-radius: 20em;
  cursor: pointer;
  transition: .5s;
  text-decoration: none;
}

.cssbuttons-io-button:hover {
  filter: brightness(1.2);
  color: rgb(0, 0, 0, .5);
}

.cssbuttons-io-button:active {
  transition: 0s;
  transform: rotate(-10deg);
}

header img {
  width: 80px;
  height: 80%;
}

/* #endregion */

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
}

.card-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 5rem;
  flex-direction: column;
  padding: 0 30px;
}

.card {
  background: #d4d4d4;
  width: 100%;
  border-radius: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 2rem;
  margin: 1rem 2rem;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin: 1.3rem 1rem;
  gap: 1rem;
}

.image-container .logo {
  width: 80px;
  height: 80%;
}

.image-container .image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.image-container h1 {
  font-size: 1em;
}

.info-container {
  height: 100%;
  background-color: #08905c;
  display: flex;
  flex: 2;
  align-items: center;
  justify-content: center;
  padding: 0 3rem;
}

.info {
  flex: 2;
}

.info h1 {
  color: #fff;
  font-weight: 500;
  margin: 0.8rem 0;
}

.info p{
  color: #fff;
}

.buttons {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.buttons a {
  height: 30px;
  text-decoration: none;
  background-color: #ebebeb;
  border-radius: 5px;
  margin: 1rem;
  color: #08905c;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.4s ease, box-shadow 0.5s ease-in;
}

.buttons a:hover {
  background-color: #c6eb6b;
  color: #08905c;
  box-shadow: 0 .5em .5em -.4em rgb(0, 0, 0, .5);
}

.buttons h1 {
  height: 30px;
  text-decoration: none;
  background-color: #ebebeb;
  border-radius: 5px;
  margin: 1rem;
  color: #08905c;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 920px) {
  header {
    padding: 1.3rem 5%;
  }
}

@media (max-width: 768px) {


  .info-container {
    flex-direction: column;
  }

  .cost {
    flex-direction: row;
  }

  .cost h1 {
    height: 50px;
  }
}

@media (max-width: 458px) {

  .card {
    border-radius: 4%;
  }

  .info-container {
    height: auto;
    padding: 0.2rem;
  }

  .info {
    flex: 0;
  }

  .info h1 {
    font-size: 1em;
  }

  .cost {
    flex: 0;
  }

  .cost h1 {
    font-size: 0.8em;
  }
}